NEXT_PUBLIC_APP_API_URL=
APP_API_URL_INTERNAL=
FRONTEND_PORT=
NEXT_PUBLIC_OAUTH2_API_URL=https://oauth2.mezon.ai
NEXT_PUBLIC_OAUTH2_CLIENT_ID=clientIdFromMezon
NEXT_PUBLIC_OAUTH2_REDIRECT_URI=https://2af3faf8caf4.ngrok-free.app/api/auth/callback
OAUTH2_CLIENT_SECRET=SecretFromMezon